<body>
  <div class="contact-title">
    <h1>CONTÁCTANOS</h1>
  </div>


  <div class="contact-form">
    <form action="">
      <input type="text" class="form-control" placeholder="Nombre" required><br>
      <input type="email" class="form-control" placeholder="Correo Electrónico" required><br>
      <textarea placeholder="Mensaje" cols="81" rows="8" required></textarea><br>

      <input type="submit" class="form-control submit" value="ENVIAR MENSAJE">
    </form>
  </div>

  <div class="contact">
    <ul>
      <li>Teléfono: <a href="+593 0958758883">+593 0958758883</a></li>
      <li>Correo: <a href="www.facebook.com">www.facebook.com</a></li>
      <li>Gmail: <a href="www.gmail.com.es">www.gmail.com.es</a></li>
    </ul>
  </div>
</body>